
h1{
    font-family: 'Rubik 80s Fade', cursive;
    color: rgb(70, 88, 70);
}

legend{
    font-weight: bold;
}

#form_hpl{
    display: flex;
    flex-direction: column;
}

.question{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 90%;
    accent-color: black;
    background-color: #f4f1ed;
    color: rgb(52, 4, 4);
    border-color: darkgoldenrod;
    border: 9px groove (internal value);
    border-radius: 7px;
    width: 400px;
    font-family: 'Arima Madurai', cursive;
}

#btnsubmit{
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}

@media screen and (min-width: 768px) {
    #form_hpl{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
   
    .question{
    width: 300px;
   }

}

@media screen and (min-width: 1366px) {
   
}